<!DOCTYPE html>
<html lang="es">
<head>
	<title>LogIn</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/log.css">
</head>
<body>
<div class="container">
    <div class="title-box">
        <h1><span>Backend </span>M.Andarapa</h1>
        <div class="title-border title-border-left"></div>
        <div class="title-border title-border-right"></div>
        <section class="row justify-content-center">
            <div class="box">
                <h3>Iniciar seccion</h3>
                <!--            <form action="./login/auntenticar.php" method="post">-->
                <form  method="post" action="html/home.html">
                    <div class="inputBox">
                        <input type="text" name="usuarioIngreso" required>
                        <label for="">Usuario</label>
                    </div>
                    <div class="inputBox">
                        <input type="password" name="passwordIngreso" required>
                        <label for="">Contraseña</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" onclick="home.html">Ingresar</button>
                </form>

                <hr >

            </div>

        </section>

    </div>

</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<!--<script src="assets/js/popper.js"></script>-->
<script src="js/bootstrap.min.js"></script>
</body>
</html>